@font-face {
    font-family: 'music-font';
    src: url('/music.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: 'music-font', sans-serif;
    text-align: center;
    height: 220vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.text-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    /* font-weight: bold; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}